
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-background-primary: #121417;
  --color-container-background-light: #232a34;
  --color-container-background-dark : #171d26;
 
  --color-icon-background: #262e38;
  --color-text-primary: #969fad; 

  --color-orange: rgb(252, 118, 20);

  --gutter-vertical: 3rem;
}


*,
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-background-primary);
  
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  color: var(--color-text-primary);
  line-height: 2.4rem;
}

h2, p {
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
  line-height: 3.5rem;
}

.container-main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 41.2;
  max-height: 41.6rem;
  padding: 3.2rem;
  border-radius: 3rem;
  background-image: linear-gradient(to bottom, #232a34, hsl(216, 24%, 12%));
  position: absolute;

  display: flex;
  flex-direction: column;
  row-gap:var(--gutter-vertical);

  .image-container {
    display: block;
    width: 100%;
    margin-left: 0;
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-icon-background);
    padding: 1.675rem;
    position: relative;
    
    .icon{
      width: 1.396rem;
      height:1.333rem;
      }
    }
  }


  .main-section {
    width: 34rem;
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter-vertical);

    .text-container {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        justify-content: left;
      }

  
    .rating-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 2.1rem;
      
      .rating-input{
        display: none;
      }
  
      .ratingBtn {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: var(--color-text-primary);
        width: 5.1rem;
        height: 5.1rem;
        border-radius: 50%;
        background-color: rgb(38, 46, 56);
        line-height: 5.1rem;
        cursor: pointer;
        transition: all 0.48s;
      }
  
      .ratingBtn:hover {
        background-color: var(--color-orange);
        color: white;
      }
  
      .rating-input:checked + .ratingBtn {
        background-color: #969fad;
        color: white;
      }
    }   
  }
  
  #submitBtn {
    width: 34.1rem;
    height: 4.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    background-color: var(--color-orange);
    border-radius: 2.25rem;
    border: none;
    cursor: pointer;
    transition: all 0.48s;
  }
  
  #submitBtn:hover {
    background-color: white;
    color: var(--color-orange);
  }
  
  .icon-container-2 {
    max-height: 10.8rem;
    display: flex;
    justify-content: center;
  }
  
  #icon-2 {
    height: 10.8rem;
    margin: 0;
    padding: 0;
  }
  
}


/* Final Screen styling after submit button is clicked */

#padding-new {
  padding: 4.5rem 3.2rem;
}

#align-center {
  align-items: center;
  text-align: center;
}

.image-container{

  .final-icon-container{
    display: flex;
  }
}

.selected-rating__container {

  background-color: var(--color-icon-background);
  color: var(--color-orange);
  padding: 0.5rem 3.9rem;
  border-radius: 2.25rem;
}


.text-content{
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;

  p{
    text-align: center;
  }
}
  


@media screen and (max-width: 600px){
  .container-main{
    max-width: 32.7rem;
    max-height: 36rem;
  
    .main-section{
      max-width: 27.9rem;
    }

    #btn-submit {
      width: 27.9rem;
      height: 4.5rem;
    }
  }
}

